.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: var(--main-black, #09090c);
  width: 1920px;
  height: 2600px;
  position: relative;
  overflow: hidden;
}
.image-3 {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 39.75522816181183%,
      rgba(9, 9, 12, 1) 100%
    ),
    linear-gradient(90deg, rgba(9, 9, 12, 1) 0%, rgba(0, 0, 0, 0) 100%);
  width: 1250px;
  height: 800px;
  position: absolute;
  left: 668px;
  top: 0px;
  object-fit: cover;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  width: 886px;
  position: absolute;
  left: calc(50% - 443px);
  top: 294px;
}
.image-4 {
  flex-shrink: 0;
  width: 576px;
  height: 228px;
  position: relative;
  object-fit: cover;
}
.div2 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font-family: var(--text-tv-h-1-font-family, "TtNormsPro-Medium", sans-serif);
  font-size: var(--text-tv-h-1-font-size, 40px);
  font-weight: var(--text-tv-h-1-font-weight, 500);
  position: relative;
  align-self: stretch;
}
.frame-1984077599 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.button-tv {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 243px;
  position: relative;
}
.master-button-tv {
  background: var(
    --gradient-accent,
    linear-gradient(90deg, rgba(106, 17, 203, 1) 0%, rgba(37, 117, 252, 1) 100%)
  );
  border-radius: 16px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 80px;
  position: relative;
}
.title {
  color: var(--main-white, #ffffff);
  text-align: center;
  font-family: var(--button-tv-30-font-family, "TtNormsPro-Medium", sans-serif);
  font-size: var(--button-tv-30-font-size, 30px);
  font-weight: var(--button-tv-30-font-weight, 500);
  position: relative;
}
.master-button-tv2 {
  background: var(
    --gradient-white-50,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.12) 50%,
      rgba(255, 255, 255, 0.1) 100%
    )
  );
  border-radius: 16px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 80px;
  position: relative;
  backdrop-filter: var(--bgblur-20-backdrop-filter, blur(10px));
}
.tv {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: -4475px;
  top: 6662px;
}
.sectiond-title {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 45px;
  position: relative;
}
.div3 {
  color: var(--main-white, #ffffff);
  text-align: left;
  font-family: var(--text-tv-h-3-font-family, "TtNormsPro-Bold", sans-serif);
  font-size: var(--text-tv-h-3-font-size, 28px);
  font-weight: var(--text-tv-h-3-font-weight, 700);
  position: relative;
}
.box-icons {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div4 {
  background: var(
    --gradient-white-50,
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.12) 50%,
      rgba(255, 255, 255, 0.1) 100%
    )
  );
  border-radius: 24px;
  flex-shrink: 0;
  width: 424px;
  height: 264px;
  position: relative;
  overflow: hidden;
}
.channels-logo {
  width: 260px;
  height: 158px;
  position: absolute;
  left: calc(50% - 130px);
  top: 43px;
  overflow: visible;
}
.div5 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font-family: var(
    --text-desktop-h-2-font-family,
    "TtNormsPro-Medium",
    sans-serif
  );
  font-size: var(--text-desktop-h-2-font-size, 24px);
  font-weight: var(--text-desktop-h-2-font-weight, 500);
  position: absolute;
  left: calc(50% - 47px);
  top: 201px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.channels-logo2 {
  width: 260px;
  height: 158px;
  position: absolute;
  left: calc(50% - 130px);
  top: 43px;
  overflow: visible;
}
.div6 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font-family: var(
    --text-desktop-h-2-font-family,
    "TtNormsPro-Medium",
    sans-serif
  );
  font-size: var(--text-desktop-h-2-font-size, 24px);
  font-weight: var(--text-desktop-h-2-font-weight, 500);
  position: absolute;
  left: calc(50% - 24px);
  top: 201px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.channels-logo3 {
  width: 260px;
  height: 158px;
  position: absolute;
  left: calc(50% - 130px);
  top: 43px;
  overflow: visible;
}
.div8 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font-family: var(
    --text-desktop-h-2-font-family,
    "TtNormsPro-Medium",
    sans-serif
  );
  font-size: var(--text-desktop-h-2-font-size, 24px);
  font-weight: var(--text-desktop-h-2-font-weight, 500);
  position: absolute;
  left: calc(50% - 46px);
  top: 201px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.channels-logo4 {
  width: 260px;
  height: 158px;
  position: absolute;
  left: calc(50% - 130px);
  top: 43px;
  overflow: visible;
}
.frame-1984077674 {
  display: flex;
  flex-direction: column;
  gap: 110px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 215px;
  top: 871px;
}
.frame-1984077616 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.div10 {
  color: var(--main-white, #ffffff);
  text-align: left;
  font-family: var(--text-tv-h-1-font-family, "TtNormsPro-Bold", sans-serif);
  font-size: var(--text-tv-h-1-font-size, 40px);
  font-weight: var(--text-tv-h-1-font-weight, 700);
  position: relative;
}
.frame-1984077604 {
  display: flex;
  flex-direction: row;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1724px;
  position: relative;
}
.tv-card-film {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.card {
  border-radius: 20px;
  flex-shrink: 0;
  width: 398px;
  height: 597px;
  position: relative;
}
.rating {
  background: var(
    --gradient-accent,
    linear-gradient(90deg, rgba(106, 17, 203, 1) 0%, rgba(37, 117, 252, 1) 100%)
  );
  border-radius: 12px;
  padding: 14px 22px 14px 22px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 48px;
  position: absolute;
  left: 28px;
  top: 28px;
}
._10 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font-family: var(--text-tv-h-5-font-family, "TtNormsPro-Medium", sans-serif);
  font-size: var(--text-tv-h-5-font-size, 28px);
  font-weight: var(--text-tv-h-5-font-weight, 500);
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-4 {
  border-radius: 28px;
  border-width: 4px;
  border-style: solid;
  border-image: var(
    --gradient-vertical,
    linear-gradient(
      159.31deg,
      rgba(87, 18, 177, 1) 0%,
      rgba(43, 108, 250, 1) 100%
    )
  );
  border-image-slice: 1;
  width: 414px;
  height: 613px;
  position: absolute;
  left: calc(50% - 207px);
  top: calc(50% - 306.5px);
}
.div11 {
  color: var(--main-white, #ffffff);
  text-align: left;
  font-family: var(--text-tv-h-5-font-family, "TtNormsPro-Medium", sans-serif);
  font-size: var(--text-tv-h-5-font-size, 28px);
  font-weight: var(--text-tv-h-5-font-weight, 500);
  position: relative;
  width: 397px;
}
._102 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font-family: var(--text-tv-h-5-font-family, "TtNormsPro-Medium", sans-serif);
  font-size: var(--text-tv-h-5-font-size, 28px);
  font-weight: var(--text-tv-h-5-font-weight, 500);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div12 {
  color: var(--main-white, #ffffff);
  text-align: left;
  font-family: var(--text-tv-h-5-font-family, "TtNormsPro-Medium", sans-serif);
  font-size: var(--text-tv-h-5-font-size, 28px);
  font-weight: var(--text-tv-h-5-font-weight, 500);
  position: relative;
  width: 397px;
  height: 36px;
}
.card2 {
  background: var(
    --gradient-blocked,
    linear-gradient(to left, rgba(9, 9, 12, 0.6), rgba(9, 9, 12, 0.6)),
    linear-gradient(90deg, rgba(72, 7, 143, 1) 0%, rgba(0, 79, 214, 1) 100%)
  );
  border-radius: 20px;
  flex-shrink: 0;
  width: 220px;
  height: 640px;
  position: relative;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 84px);
  top: calc(50% - 73px);
}
.box-icons2 {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  overflow: visible;
}
.div13 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font-family: var(--text-tv-h-5-font-family, "TtNormsPro-Medium", sans-serif);
  font-size: var(--text-tv-h-5-font-size, 28px);
  font-weight: var(--text-tv-h-5-font-weight, 500);
  position: relative;
  width: 169px;
  height: 62px;
}
.block-3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._103 {
  text-align: left;
  font-family: "TtNormsPro-BlackItalic", sans-serif;
  font-size: 52px;
  font-weight: 900;
  font-style: italic;
  position: relative;
}
.top-10 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.raiting-card-tv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._1 {
  text-align: left;
  font-family: "Archivo-BlackItalic", sans-serif;
  font-size: 360px;
  font-weight: 900;
  font-style: italic;
  position: relative;
}
.img {
  margin: 0 0 0 -80px;
  flex-shrink: 0;
  width: 398px;
  height: 597px;
  position: relative;
}
.img2 {
  border-radius: 20px;
  width: 398px;
  height: 597px;
  position: absolute;
  left: calc(50% - 199px);
  top: calc(50% - 298.5px);
  object-fit: cover;
}
.tv-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 800px;
  position: sticky;
  left: 55px;
  top: 200px;
}
.content3 {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.buttons-tv {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.box-icons3 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.box-icons4 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.box-icons5 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.box-icons6 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.box-icons7 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.box-icons8 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.box-icons9 {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 5px;
  top: 5px;
  transform: translate(0px, 0px);
  overflow: visible;
}
.logo {
  width: 144px;
  height: 50px;
  position: sticky;
  left: 64px;
  top: 40px;
  overflow: visible;
}
