.btn {
	display: inline;

	width: 243px;
	height: 80px;
	/* padding: 1px 10px; */

	border: 0;
	border-radius: 16px;

	font-size: 30px;
	color: var(--main-white);
}

.btn-secondary {
	background-color: rgba(255 255 255 / 0.2);

	color: var(--main-white);
}