@font-face {
	font-family: "TT Norms Pro";
	src: url("src/fonts/TTNormsPro-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "TT Norms Pro";
	src: url("src/fonts/TTNormsPro-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: Archivo;
	src: url("src/fonts/Archivo-Italic.ttf");
	/* font-style: italic; */
}